<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <!--Depedencies for the application exe-->
      <Component Id="Application.NLog.config" Guid="{57DF319F-4A2B-49C2-8B3A-DC307BA8D252}">
        <File Id="Application.NLog.config" KeyPath="yes" Source="..\Repo\NLog.config" />
      </Component>
      <Component Id="Application.NLog.dll" Guid="{A7745F1D-B3CB-4DBB-A951-0822AC1BC111}">
        <File Id="Application.NLog.dll" KeyPath="yes" Source="..\Repo\NLog.dll" />
      </Component>
      <Component Id="Application.OS.DBLogger.dll" Guid="{E9B894CE-395B-4507-8990-2A69676CAEEC}">
        <File Id="Application.OS.DBLogger.dll" KeyPath="yes" Source="..\Repo\OS.DBLogger.dll" />
      </Component>
      </DirectoryRef>
    <DirectoryRef Id="WindowsServiceDir">
      <!--Depedencies for the application exe-->
      <Component Id="WindowsService.NLog.config" Guid="{A45D47B7-5E04-47B3-83C3-A6ACECFEDB4A}">
        <File Id="WindowsService.NLog.config" KeyPath="yes" Source="..\Repo\NLog.config" />
      </Component>
      <Component Id="WindowsService.NLog.dll" Guid="{649124E8-02A8-4364-80AE-0F5F373B379A}">
        <File Id="WindowsService.NLog.dll" KeyPath="yes" Source="..\Repo\NLog.dll" />
      </Component>
    </DirectoryRef>
	</Fragment>
</Wix>