<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--SMTP server and login details for email distribution-->
    <add key="MailerSmtp" value="smtp.office365.com" />
    <add key="MailerAddress" value="ppcnotifications@opsi.co.za" />
    <add key="MailerDisplayName" value="Test" />
    <add key="MailerSSL" value="true" />
    <add key="MailerPort" value="587" />
    <add key="MailerLogin" value="ppcnotifications@opsi.co.za" />
    <add key="MailerPass" value="C@n0ns1@#!" />
    <add key="ReplyTo" value="flip.snyders@yopsi.co.za" />
    <add key="ExchangeServiceUrl" value="" />
    <add key="ExchangePass" value="" />
    <!--For use with AWS SES. Allows statistics logging. Default is "", no headers will be added.-->
    <!--Name of config set on SES. Default is "", no headers will be added.-->
    <add key="ConfigSet" value="" />
    <!--Tags to add. Format:"tag1=value1,tag2=value2". No spaces allowed or special symbols besides '-' and '_'. Default is "", no tags headers will be added.-->
    <add key="MessageTags" value="" />
    <!--How ofter the distributor will be waiting between runs. 60 seconds should be enough if it is expected to process and distribute a single report to 12 recipients per minute,
    less if the program is expected unusual high volume of emailing.
    Minimum 10 seconds. Default 60 seconds.-->
    <add key="RefreshRateSeconds" value="" />
    <!--Number of recipients will receive the individual report via email. 
    ie. 1 report to 12 recipients counts as 12. 12 reports to a single recipient counts as 12. 5 reports to 5 recipients each, counts as 25. Recommended is 12.-->
    <add key="EmailLimitPerRun" value="12" />
    <!--Amount of concurrent reports generated.-->
    <add key="generatingLimit" value="10000" />
    <!--Amount of concurrent reports emailed.-->
    <add key="EmailLimitAtOnce" value="10" />
    <!--Name of this report distributor, which will be shown in notification emails.-->
    <add key="InstanceName" value="" />
    <!--Include requestID and timestamp at end of the report files? Default: True.-->
    <add key="IncludeMetaInFilename" value="" />
    <!---->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--AmazonS3 bucket details for cloud storage.-->
    <add key="AWSProfileName" value="opsi_ppc" />
    <add key="AWSAccessKey" value="AKIAJMUAAJWQYZBSDHZQ" />
    <add key="AWSSecretKey" value="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" />


    <!--File Copier Setup.-->
    <!--Set file Location of initial files to be copied and emailed -->
    <add key="sourceFilePath" value="C:\DEV\Flip\Mail_FIle_Distributor\TestFolder\Source" />
    <add key="destFilePath" value="C:\DEV\Flip\Mail_FIle_Distributor\TestFolder\Destination" />

    <!--Mailer Service Setup.-->
    <!--Add recipients here. For multiple recipients use ";" to seperate.-->
    <add key="mailerRecipients" value="flip.snyders@opsi.co.za" /> 
    <add key="mailerEmailSubject" value="PPC PODs" />
    <add key="mailerEmailBody" value="PPC PODs: " />




  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>