<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target
      name="benchmarkOutputLoggerTarget"
      xsi:type="File"
      fileName="${basedir}/Logs/benchmarkOutputLog_${date:format=yyyy-MM-dd}.txt"
      layout="${message}" />
		<target
		  name="engineLoggerTarget"
		  xsi:type="File"
		  fileName="${basedir}/Logs/EngineLog_${date:format=yyyy-MM-dd}.txt"
		  layout="${date:format=yyyy/MM/dd HH\:mm\:ss} | ${message}" />
		<target
		  name="fitnessLoggerTarget"
		  xsi:type="File"
		  fileName="${basedir}/Logs/FitnessLog_${date:format=yyyy-MM-dd}.txt"
		  layout="${date:format=yyyy/MM/dd HH\:mm\:ss} | ${message}" />
		<target
		  name="populationBestMemberLoggerTarget"
		  xsi:type="File"
		  fileName="${basedir}/Logs/PopulationBestMemberLog_${date:format=yyyy-MM-dd}.txt"
		  layout="${date:format=yyyy/MM/dd HH\:mm\:ss} | ${message}" />
		<target
		  name="populationIterationLoggerTarget"
		  xsi:type="File"
		  fileName="${basedir}/Logs/PopulationIterationLog_${date:format=yyyy-MM-dd}.txt"
		  layout="${date:format=yyyy/MM/dd HH\:mm\:ss} | ${message}" />
		<target
			name="plotLoggerTarget"
			xsi:type="File"
			fileName="${basedir}/Logs/PlotLog_${date:format=yyyy-MM-dd}.txt"
			layout="${date:format=yyyy/MM/dd HH\:mm\:ss} | ${message}" />
		<target
			name="objFncLoggerTarget"
			xsi:type="File"
			fileName="${basedir}/Logs/ObjFnctLog_${date:format=yyyy-MM-dd}.txt"
			layout="${date:format=yyyy/MM/dd HH\:mm\:ss} | ${message}" />
		<target
			name="chosenSolutionStatsLoggerTarget"
			xsi:type="File"
			fileName="${basedir}/Logs/ChosenSolutionStatsLog_${date:format=yyyy-MM-dd}.txt"
			layout="${date:format=yyyy/MM/dd HH\:mm\:ss} | ${message}" />
		<target
      name="fullPopulationLoggerTarget"
      xsi:type="File"
      fileName="${basedir}/Logs/FullPopulationLog_${date:format=yyyy-MM-dd}.txt"
      layout="${date:format=yyyy/MM/dd HH\:mm\:ss} | ${message}" />
	  <target
			name="logfile_full"
			xsi:type="File"
			fileName="${basedir}/Logs/Full_Log_${date:format=yyyy-MM-dd}.txt"
			layout="${date:format=yyyy/MM/dd HH\:mm\:ss} | ${level:uppercase=true} | ${callsite} | ${message} ${exception:format=tostring}"
			archiveEvery ="Day"
			archiveFileName="${basedir}/Logs/Archive_${date:format=yyyy-MM-dd}/Full_Log_${date:format=yyyy-MM-dd}.txt"  />
    <target
      name="logfile_error"
		  xsi:type="File"
		  fileName="${basedir}/Logs/Error_Log_${date:format=yyyy-MM-dd}.txt"
		  layout="${date:format=yyyy/MM/dd HH\:mm\:ss} | ${level:uppercase=true} | ${callsite} | ${message} ${exception:format=tostring}"
		  archiveEvery ="Day"
		  archiveFileName="${basedir}/Logs/Archive_${date:format=yyyy-MM-dd}/Error_Log_${date:format=yyyy-MM-dd}.txt"  />
		<target
		  name="logfile_info"
		  xsi:type="File"
		  fileName="${basedir}/Logs/Info_Log_${date:format=yyyy-MM-dd}.txt"
		  layout="${date:format=yyyy/MM/dd HH\:mm\:ss} | ${message}"
		  archiveEvery ="Day"
		  archiveFileName="${basedir}/Logs/Archive_${date:format=yyyy-MM-dd}/Info_Log_${date:format=yyyy-MM-dd}.txt"  />
	</targets>

	<rules>
    <!--
		<logger name="BenchmarkOutputLogger" minlevel="Debug" writeTo="benchmarkOutputLoggerTarget" />
    <logger name="EngineLogger" minlevel="Debug" writeTo="engineLoggerTarget" />
		<logger name="FitnessLogger" minlevel="Debug" writeTo="fitnessLoggerTarget" />
		<logger name="PopulationBestMemberLogger" minlevel="Debug" writeTo="populationBestMemberLoggerTarget" />
		<logger name="PopulationIterationLogger" minlevel="Debug" writeTo="populationIterationLoggerTarget" />
		<logger name="PlotLogger" minlevel="Debug" writeTo="plotLoggerTarget" />
		<logger name="ObjFncLogger" minlevel="Debug" writeTo="objFncLoggerTarget" />
		<logger name ="ChosenSolutionStatsLogger" minlevel="Debug" writeTo ="chosenSolutionStatsLoggerTarget"/>
		<logger name ="FullPopulationLogger" minlevel="Debug" writeTo ="fullPopulationLoggerTarget"/>
        -->
    <logger name="*" minlevel="Debug" writeTo="logfile_full" />
    <logger name="*" minlevel="Error" writeTo="logfile_error" />
    <logger name="*" minlevel="Info" writeTo="logfile_info" />

  </rules>
</nlog>