<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
	</configSections>
	<SubSonicService defaultProvider="Comms">
		<providers>
			<clear/>
			<add name="Comms" type="SubSonic.SqlDataProvider, SubSonic" useSPs="false" connectionStringName="Comms" generatedNamespace="Comms"/>
		</providers>
	</SubSonicService>
	<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
